# General
.DS_Store
.Rhistory
data_analysis/registered_report/data/processed_data/CATegories_exp2_processed_data_anonymized.csv
.Rproj.user
data_analysis/registered_report/analysis/manuscript/0_preprocessing.Rmd
data_analysis/registered_report/data/processed_data/CATegories_exp2_processed_participant_data.csv
data_analysis/registered_report/data/processed_data/CATegories_exp2_peyecoder_data_anonymized.csv
data_analysis/registered_report/data/processed_data/CATegories_exp2_processed_data.csv
data_analysis/registered_report/data/processed_data/CATegories_exp2_processed_data_with_exclusion_info.csv
